# IDEs
.buildpath
.project
.settings/
.build/
php.ini

#Runalyze
public/assets/v2.x/img/backgrounds/My-*
data/sessions/sess*
data/timezone.sqlite
*.mo
inc/locale/*.po
/.htaccess

#assets
node_modules/
public/assets/css/*.css
public/assets/js/*.js
public/assets/js/*.map
public/vendor/
npm-debug.log

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
# /var/
/vendor/
###< symfony/framework-bundle ###
