# IDEs
.buildpath
.project
.settings/
.build/
php.ini

#Runalyze
web/assets/v2.x/img/backgrounds/My-*
data/sessions/sess*
data/timezone.sqlite
*.mo
inc/locale/*.po
web/app_dev.php
/.htaccess

#config
app/config/config.yml
app/config/config_prod.yml
app/config/config_dev.yml
app/config/config_test.yml
app/config/config_test_empty.yml

#assets
node_modules/
web/assets/css/*.css
web/assets/js/*.js
web/assets/js/*.map
web/vendor/
npm-debug.log

#symfony
/var/
!/var/cache/.gitkeep
!/var/logs/.gitkeep

!.gitkeep

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
