imports:
    - { resource: config_shared.yml }

parameters:
  database_host: 127.0.0.1
  database_prefix: runalyze_test_
  database_port: 3306
  database_name: runalyze_test
  database_user: root
  database_password:

liip_functional_test:
  authentication:
    username: "default"
    password: "defaultPassword"

liip_test_fixtures:
  cache_db:
    sqlite: liip_functional_test.services_database_backup.sqlite

framework:
  test: ~
  session:
    storage_id: session.storage.mock_file
    name: MOCKSESSID

security:
  firewalls:
    default:
      http_basic: ~

doctrine_cache:
  providers:
    vendor_filesystem_metadata_cache:
      type: array
      namespace: doctrine_cache.ns.fsmeta
    vendor_filesystem_result_cache:
      type: array
      namespace: doctrine_cache.ns.fsresult
    vendor_filesystem_query_cache:
      type: array
      namespace: doctrine_cache.ns.fsquery

doctrine:
  dbal:
    default_connection: default
    connections:
      default:
        driver: pdo_sqlite
        path: '%kernel.cache_dir%/test.db'
